*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

#wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 32px;
}
@media only screen and (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
header main {
  width: 375px;
  height: 240px;
  border-radius: 0;
  background-color: #151515;
  background-image: url("../assets/mobile/image-hero.jpg");
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  header main {
    width: 437px;
    height: 700px;
    border-radius: 0;
    background-color: #151515;
    background-image: url("../assets/tablet/image-hero.jpg");
  }
}
@media only screen and (min-width: 1440px) {
  header main {
    width: 990px;
    height: 800px;
    border-radius: 0;
    background-color: #151515;
    font-family: "Big Shoulders Display", cursive;
    display: inline-block;
    background-image: url("../assets/desktop/image-hero.jpg");
    background-position: center right;
  }
}
header main #fname {
  line-height: 88px;
  margin-top: 189px;
  margin-left: 166px;
}
@media only screen and (min-width: 1440px) {
  header main #fname:before {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 302px;
    content: attr(data-content);
    font-size: 96px;
    color: #151515;
    font-weight: 900;
    text-align: left;
  }
  header main #fname:after {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 284px;
    content: attr(data-content);
    font-size: 96px;
    color: white;
    font-weight: 900;
    text-align: left;
  }
}
header main #lname {
  line-height: 88px;
  margin-top: 278px;
  margin-left: 166px;
}
@media only screen and (min-width: 1440px) {
  header main #lname:before {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 484px;
    content: attr(data-content);
    font-size: 96px;
    color: #151515;
    font-weight: 900;
    text-align: left;
  }
  header main #lname:after {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 284px;
    content: attr(data-content);
    font-size: 96px;
    color: white;
    font-weight: 900;
    text-align: left;
  }
}
header div {
  width: 343px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 32px;
}
@media only screen and (min-width: 768px) {
  header div {
    row-gap: 48px;
  }
}
@media only screen and (min-width: 768px) {
  header div {
    row-gap: 64px;
  }
}
header div h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 60px;
  color: #151515;
  font-weight: 900;
  text-align: left;
  line-height: 55px;
}
@media only screen and (min-width: 768px) {
  header div h1 {
    position: relative;
    left: -50px;
    font-size: 70px;
    color: #151515;
    font-weight: 900;
    text-align: left;
    line-height: 65px;
  }
}
@media only screen and (min-width: 1440px) {
  header div h1 {
    display: none;
  }
}
header div p {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: #151515;
  font-weight: 300;
  text-align: left;
  line-height: 28px;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  header div p {
    position: relative;
    left: -50px;
  }
}
@media only screen and (min-width: 1440px) {
  header div p {
    font-size: 22px;
    color: #151515;
    font-weight: 300;
    text-align: left;
    line-height: 32px;
    left: -60px;
  }
}
header div #button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 768px) {
  header div #button {
    position: relative;
    left: -50px;
  }
}
@media only screen and (min-width: 1440px) {
  header div #button {
    left: -60px;
  }
}
header div #button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header div #button a button:nth-of-type(1) {
  width: 204px;
  height: 72px;
  border-radius: 0;
  background-color: #151515;
  font-family: "Big Shoulders Display", cursive;
  font-size: 20px;
  color: white;
  font-weight: 800;
  text-align: center;
  line-height: 24px;
  letter-spacing: 3.6px;
  -webkit-transition: 1.3s;
  transition: 1.3s;
}
header div #button a button:nth-of-type(2) {
  width: 56px;
  height: 72px;
  border-radius: 0;
  background-color: #151515;
  background-color: #d5966c;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
header div #button:hover button:nth-of-type(1) {
  background-color: #d5966c;
  color: white;
}
header div #button:hover button:nth-of-type(2) {
  background-color: #151515;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 25px;
  margin-top: 120px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .flex-box {
    margin-bottom: 26px;
  }
}
.flex-box #aztec-hall {
  width: 343px;
  height: 255px;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../assets/mobile/image-grid-1.jpg");
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .flex-box #aztec-hall {
    width: 398px;
    height: 400px;
    border-radius: 0;
    background-color: transparent;
    background-image: url("../assets/tablet/image-grid-1.jpg");
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media only screen and (min-width: 1440px) {
  .flex-box #aztec-hall {
    width: 635px;
    height: 400px;
    border-radius: 0;
    background-color: transparent;
    background-image: url("../assets/desktop/image-grid-1.jpg");
  }
}
.flex-box div {
  width: 343px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  row-gap: 21px;
}
@media only screen and (min-width: 768px) {
  .flex-box div {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 292px;
    row-gap: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .flex-box div {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 474px;
    row-gap: 32px;
  }
}
.flex-box div h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
  color: #444444;
  font-weight: 900;
  text-align: left;
  line-height: 45px;
  max-width: 340px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .flex-box div h1 {
    max-width: 180px;
  }
}
@media only screen and (min-width: 1440px) {
  .flex-box div h1 {
    max-width: 295px;
  }
}
.flex-box div p {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: #444444;
  font-weight: 300;
  text-align: left;
  line-height: 28px;
  max-width: 335px;
}
@media only screen and (min-width: 768px) {
  .flex-box div p {
    max-width: 223px;
  }
}
@media only screen and (min-width: 768px) {
  .flex-box div p {
    max-width: 290px;
  }
}

.grid-box {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 16px;
  grid-template-columns: 343px;
  grid-template-rows: 480px 200px 293px;
}
@media only screen and (min-width: 768px) {
  .grid-box {
    grid-template-columns: 398px 280px;
    grid-template-rows: 280px 396px;
    row-gap: 11px;
    -webkit-column-gap: 11px;
       -moz-column-gap: 11px;
            column-gap: 11px;
  }
}
@media only screen and (min-width: 1440px) {
  .grid-box {
    grid-template-columns: 635px 445px;
    grid-template-rows: 313px 377px;
    row-gap: 30px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.grid-box #wood-chair {
  background-image: url("../assets/mobile/image-grid-2.jpg");
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .grid-box #wood-chair {
    background-image: url("../assets/tablet/image-grid-2.jpg");
    grid-area: 1/1/span 2/span 1;
  }
}
@media only screen and (min-width: 1440px) {
  .grid-box #wood-chair {
    background-image: url("../assets/desktop/image-grid-2.jpg");
  }
}
.grid-box #main-hall {
  background-image: url("../assets/mobile/image-grid-3.jpg");
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .grid-box #main-hall {
    grid-area: 1/2/span 1/span 1;
    background-image: url("../assets/tablet/image-grid-3.jpg");
  }
}
@media only screen and (min-width: 1440px) {
  .grid-box #main-hall {
    background-image: url("../assets/desktop/image-grid-3.jpg");
  }
}
.grid-box div:nth-of-type(3) {
  background-color: #151515;
  padding: 48px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  .grid-box div:nth-of-type(3) {
    padding: 85px 29px;
    grid-area: 2/2/span 1/span 1;
  }
}
.grid-box div:nth-of-type(3) h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
  color: white;
  font-weight: 900;
  text-align: left;
  line-height: 45px;
  max-width: 205px;
}
.grid-box div:nth-of-type(3) p {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 300;
  text-align: left;
  line-height: 28px;
  max-width: 290px;
}

footer {
  width: 100%;
  height: 336px;
  border-radius: 0;
  background-color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 48px 32px;
  margin-top: 120px;
}
@media only screen and (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: 216px;
    border-radius: 0;
    background-color: #151515;
    padding: 56px 39px;
  }
}
@media only screen and (min-width: 1440px) {
  footer {
    width: 100%;
    height: 244px;
    border-radius: 0;
    background-color: #151515;
    margin-top: 18 0px;
    padding: 80px 165px;
    margin-top: 180px;
  }
}
footer p {
  font-size: 16px;
  color: white;
  font-weight: 300;
  text-align: left;
  font-family: "Outfit", sans-serif;
  line-height: 26px;
  max-width: 315px;
}
@media only screen and (min-width: 768px) {
  footer p {
    max-width: 285px;
  }
}
@media only screen and (min-width: 1440px) {
  footer p {
    max-width: 430px;
  }
}
footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}
footer section img:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(70%) sepia(35%) saturate(553%) hue-rotate(338deg) brightness(88%) contrast(89%);
          filter: brightness(0) saturate(100%) invert(70%) sepia(35%) saturate(553%) hue-rotate(338deg) brightness(88%) contrast(89%);
  cursor: pointer;
}