:global(#root) {
  font-family: "DM Sans", sans-serif;
  background-color: #f8e9dd;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.card {
  background: #fffaf5;
  border-radius: 10px;
  padding: 24px 20px;
}
@media only screen and (min-width: 1024px) {
  .card {
    border-radius: 20px;
    padding: 32px 40px;
  }
}
.card h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #382314;
}
@media only screen and (min-width: 1024px) {
  .card h1 {
    font-size: 32px;
    line-height: 42px;
  }
}

.seperator {
  background: #f8e9dd;
  border-radius: 1px;
  height: 2px;
}

.total {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  row-gap: 4px;
  margin-top: 24px;
}
@media only screen and (min-width: 1024px) {
  .total {
    margin-top: 32px;
  }
}
.total p {
  font-size: 15px;
  line-height: 20px;
  color: #93867b;
}
@media only screen and (min-width: 1024px) {
  .total p {
    font-size: 18px;
    line-height: 23px;
  }
}
.total div {
  display: grid;
  grid-template-areas: "amount perc" "amount title";
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.total div h1 {
  grid-area: amount;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #382314;
}
@media only screen and (min-width: 1024px) {
  .total div h1 {
    font-size: 48px;
    line-height: 62px;
  }
}
.total div h6 {
  grid-area: perc;
  text-align: right;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #382314;
}
@media only screen and (min-width: 1024px) {
  .total div h6 {
    font-size: 18px;
    line-height: 23px;
  }
}
.total div p {
  grid-area: title;
  text-align: right;
}