*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  color: #1e1f36;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  margin-top: 65px;
}
@media only screen and (min-width: 1000px) {
  h1 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

#container {
  position: relative;
  width: 327px;
  height: 500px;
  border-radius: 23px;
  background-color: white;
  margin: 80px auto;
  padding: 25px;
}
@media only screen and (min-width: 1000px) {
  #container {
    height: 509px;
    width: 920px;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

#zorg1 {
  position: absolute;
  top: -106px;
  left: 45px;
  width: 237px;
  z-index: 2;
}
@media only screen and (min-width: 1000px) {
  #zorg1 {
    display: none;
  }
}

#zorg2 {
  position: absolute;
  top: -7px;
  left: 45px;
}
@media only screen and (min-width: 1000px) {
  #zorg2 {
    display: none;
  }
}

#zorg3 {
  display: none;
}
@media only screen and (min-width: 1000px) {
  #zorg3 {
    display: block;
    position: absolute;
    top: 207px;
    left: -94px;
  }
}

#questionbox {
  margin-top: 36px;
}
@media only screen and (min-width: 1000px) {
  #questionbox {
    margin-top: 65px;
    flex-basis: 450px;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  height: 45px;
  overflow: hidden;
  transition: height 200ms linear;
  border-bottom: solid #e8e8ea 1px;
  /* border: dashed red 1px; */
  margin: 10px 0;
}

.question {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s linear;
  margin: 10px 0;
}
@media only screen and (min-width: 1000px) {
  .question {
    font-size: 14px;
  }
}

.normal {
  color: #4b4c5f;
  font-weight: 400;
  /* transition: all 1.3s linear; */
}

.normal:hover {
  color: #f47b56;
  cursor: pointer;
}

.answer {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin: 10px 0;
}

.arrow {
  align-self: center;
  transition: transform 0.2s linear;
}

.fix {
  height: 110px;
}

.fix1 {
  transform: rotate(180deg);
}

.bold {
  font-weight: 700;
}

@media only screen and (min-width: 1000px) {
  #imagebox {
    flex-basis: 450px;
    background-image: url("../images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-position: -86px 75px;
  }
}