*.scss
*.txt
*.ini
*.map
*.psd
*.ai
*.ts
*.zip
*.fig
*.code-workspace
/.prettierignore
**/__REACT
**/root/*.scss
**/root/*.css
**/dist
**/node_modules
design/
*.htmlhintrc
*.vscode
*.ini
*.code-workspace