*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 85px 0;
  row-gap: 76px;
}
@media only screen and (min-width: 1200px) {
  body {
    padding: 80px 0;
    row-gap: 64px;
  }
}

header {
  width: 311px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  header {
    width: 540px;
  }
}
header h1 {
  font-size: 24px;
  color: #4d4f62;
  font-weight: 275;
  text-align: center;
  letter-spacing: 0.25px;
}
@media only screen and (min-width: 1200px) {
  header h1 {
    font-size: 36px;
  }
}
header h2 {
  font-size: 24px;
  color: #4d4f62;
  font-weight: 600;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  header h2 {
    font-size: 36px;
    color: #4d4f62;
    font-weight: 600;
    text-align: center;
  }
}
header p {
  font-size: 15px;
  color: #4d4f62;
  font-weight: 400;
  text-align: center;
  margin-top: 12px;
  opacity: 0.5;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media only screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-areas: "left top right" "left bottom right";
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
}

.box {
  width: 311px;
  height: 222px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  padding: 28px;
}
@media only screen and (min-width: 1200px) {
  .box {
    width: 350px;
    height: 250px;
    border-radius: 8px;
    background-color: white;
  }
}
.box h1 {
  font-size: 20px;
  color: #4d4f62;
  font-weight: 600;
  text-align: center;
}
.box p {
  font-size: 13px;
  color: #4d4f62;
  font-weight: 400;
  text-align: center;
  opacity: 0.5;
}
.box img {
  align-self: end;
  margin-top: 30px;
}
@media only screen and (min-width: 1200px) {
  .box img {
    margin-top: 60px;
  }
}

.box:nth-of-type(1) {
  align-self: center;
  border-top: 4px solid #44d3d2;
  grid-area: left;
}

.box:nth-of-type(2) {
  border-top: 4px solid #ea5454;
  grid-area: top;
}

.box:nth-of-type(3) {
  border-top: 4px solid #fcae4a;
  grid-area: bottom;
}

.box:nth-of-type(4) {
  border-top: 4px solid #549ef2;
  align-self: center;
  grid-area: right;
}