*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

/*lets start coding*/
/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/
img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: stretch;
  justify-content: column;
  align-items: flex-start;
}

input {
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
}
@media only screen and (min-width: 800px) {
  input {
    border-radius: 4px;
  }
}

.input-email, main #main-email div:nth-of-type(2) input:nth-of-type(1), main #main-1 div:nth-of-type(2) div div #email1 {
  width: 100%;
  max-width: 290px;
  background: #ffffff;
  box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.16);
  border: 1px solid #07043b;
  text-indent: 10px;
  letter-spacing: 0.5px;
}

.input-submit, main #main-email div:nth-of-type(2) input:nth-of-type(2), main #main-1 div:nth-of-type(2) div #submit1 {
  background: #2f65f8;
  box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
  width: 100%;
  max-width: 290px;
  letter-spacing: 0.5px;
}

input::-moz-placeholder {
  color: #c2c2c2;
  text-align: left;
}

input::placeholder {
  color: #c2c2c2;
  text-align: left;
}
@media only screen and (min-width: 800px) {
  input::-moz-placeholder {
    font-size: 12px;
  }
  input::placeholder {
    font-size: 12px;
  }
}

/*-----------Footer-------------*/
header {
  display: flex;
  flex-direction: center;
  justify-content: row;
  align-items: space-between;
  padding: 20px 30px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 800px) {
  header {
    padding: 20px 80px;
  }
}
header nav {
  display: flex;
  flex-direction: center;
  justify-content: row;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-family: Raleway;
  font-size: 12px;
  color: #07043b;
  font-weight: 400;
  text-align: 400;
  line-height: 14px;
  text-align: left;
}
@media only screen and (min-width: 800px) {
  header nav {
    font-size: 14px;
  }
}
header #logo {
  width: 80px;
  height: 24px;
}
@media only screen and (min-width: 800px) {
  header #logo {
    width: 166px;
    height: 49px;
  }
}

@media only screen and (min-width: 800px) {
  main {
    color: white;
  }
}
main #main-1 {
  display: flex;
  flex-direction: center;
  justify-content: column;
  align-items: space-between;
  row-gap: 20px;
  padding: 20px 20px;
}
@media only screen and (min-width: 800px) {
  main #main-1 {
    display: flex;
    flex-direction: center;
    justify-content: row;
    align-items: space-between;
    flex-direction: row-reverse;
    margin-bottom: 30px;
    padding: 20px 80px;
  }
}
main #main-1 div:nth-of-type(1) {
  width: 300px;
}
@media only screen and (min-width: 800px) {
  main #main-1 div:nth-of-type(1) {
    width: 50%;
  }
}
main #main-1 div:nth-of-type(2) {
  display: flex;
  flex-direction: center;
  justify-content: column;
  align-items: space-between;
  row-gap: 20px;
}
@media only screen and (min-width: 800px) {
  main #main-1 div:nth-of-type(2) {
    width: 50%;
  }
}
main #main-1 div:nth-of-type(2) h1 {
  font-family: Open Sans;
  font-size: 24px;
  color: #07043b;
  font-weight: 400;
  text-align: 700;
  line-height: 36px;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  main #main-1 div:nth-of-type(2) h1 {
    font-family: Raleway;
    font-size: 40px;
    color: #07043b;
    font-weight: 400;
    text-align: 700;
    line-height: 60px;
    text-align: left;
  }
}
main #main-1 div:nth-of-type(2) p {
  font-family: "Open Sans";
  font-size: 14px;
  color: #07043b;
  font-weight: 400;
  text-align: 400;
  font-family: "Open Sans";
  line-height: 21px;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  main #main-1 div:nth-of-type(2) p {
    font-size: 17px;
    color: #07043b;
    font-weight: 400;
    text-align: 400;
    line-height: 24px;
    text-align: left;
  }
}
main #main-1 div:nth-of-type(2) div {
  width: 100%;
  display: flex;
  flex-direction: center;
  justify-content: column;
  align-items: center;
  row-gap: 6px;
}
@media only screen and (min-width: 800px) {
  main #main-1 div:nth-of-type(2) div {
    display: flex;
    flex-direction: center;
    justify-content: row;
    align-items: flex-start;
    -moz-column-gap: 8px;
         column-gap: 8px;
    width: 420px;
    align-self: flex-start;
  }
}
main #main-1 div:nth-of-type(2) div div {
  width: 290px;
  height: 58px;
  display: flex;
  flex-direction: flex-start;
  justify-content: column;
  align-items: flex-start;
}
@media only screen and (min-width: 800px) {
  main #main-1 div:nth-of-type(2) div div {
    height: 78px;
  }
}
main #main-1 div:nth-of-type(2) div div #email1 {
  font-size: 12px;
  color: #07043b;
  font-weight: 400;
  text-align: 400;
  height: 40px;
}
@media only screen and (min-width: 800px) {
  main #main-1 div:nth-of-type(2) div div #email1 {
    font-size: 14px;
    color: #07043b;
    font-weight: 400;
    text-align: 400;
    height: 45px;
  }
}
main #main-1 div:nth-of-type(2) div div h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #ef4877;
  font-weight: 400;
  text-align: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: left;
}
main #main-1 div:nth-of-type(2) div #submit1 {
  font-size: 14px;
  color: white;
  font-weight: 400;
  text-align: 700;
  align-self: center;
  height: 40px;
}
@media only screen and (min-width: 800px) {
  main #main-1 div:nth-of-type(2) div #submit1 {
    align-self: flex-start;
    height: 45px;
    min-width: 95px;
    max-width: 120px;
    width: 40%;
  }
}
main #main-gray {
  background-color: white;
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 60px;
}
@media only screen and (min-width: 800px) {
  main #main-gray {
    background-color: white;
    background-image: url("../images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60px;
  }
}
main #main-2 {
  display: flex;
  flex-direction: center;
  justify-content: column;
  align-items: center;
  row-gap: 80px;
  background-color: #f8f8fe;
  padding: 30px 20px 90px 20px;
}
@media only screen and (min-width: 800px) {
  main #main-2 {
    display: flex;
    flex-direction: center;
    justify-content: row;
    align-items: space-between;
    flex-direction: row-reverse;
    background-color: #f8f8fe;
    padding: 20px 80px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
main #main-2 div:nth-of-type(1) {
  width: 300px;
}
@media only screen and (min-width: 800px) {
  main #main-2 div:nth-of-type(1) {
    width: 50%;
  }
}
main #main-2 div:nth-of-type(2) {
  display: flex;
  flex-direction: center;
  justify-content: column;
  align-items: center;
  row-gap: 20px;
}
@media only screen and (min-width: 800px) {
  main #main-2 div:nth-of-type(2) {
    width: 50%;
    align-items: flex-start;
  }
}
main #main-2 div:nth-of-type(2) h1 {
  font-family: Raleway;
  font-size: 16px;
  color: #07043b;
  font-weight: 400;
  text-align: 700;
  line-height: 24px;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  main #main-2 div:nth-of-type(2) h1 {
    font-family: Raleway;
    font-size: 40px;
    color: #07043b;
    font-weight: 400;
    text-align: 700;
    line-height: 47px;
    text-align: left;
  }
}
main #main-2 div:nth-of-type(2) p {
  font-family: Open Sans;
  font-size: 14px;
  color: #615f7e;
  font-weight: 400;
  text-align: 400;
  line-height: 21px;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  main #main-2 div:nth-of-type(2) p {
    font-family: Open Sans;
    font-size: 16px;
    color: #615f7e;
    font-weight: 400;
    text-align: 400;
    line-height: 24px;
    text-align: left;
  }
}
main #main-2 div:nth-of-type(2) p:nth-of-type(3) {
  font-family: Open Sans;
  font-size: 12px;
  color: #3da08f;
  font-weight: 400;
  text-align: 400;
  line-height: 16px;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  main #main-2 div:nth-of-type(2) p:nth-of-type(3) {
    font-family: Open Sans;
    font-size: 12px;
    color: #3da08f;
    font-weight: 400;
    text-align: 400;
    line-height: 16px;
    text-align: center;
  }
}
main #main-2 div:nth-of-type(2) #fylo {
  border-bottom: #3da08f 2px solid;
  display: flex;
  flex-direction: center;
  justify-content: row;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  width: 134px;
  padding-bottom: 5px;
}
@media only screen and (min-width: 800px) {
  main #main-2 div:nth-of-type(2) #fylo {
    border-bottom: #3da08f 2px solid;
    display: flex;
    flex-direction: center;
    justify-content: row;
    align-items: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
    width: 134px;
    padding-bottom: 5px;
  }
}
main #main-2 div:nth-of-type(2) #fylo span {
  font-family: "Open Sans";
  font-size: 12px;
  color: #3da08f;
  font-weight: 400;
  text-align: 400;
  line-height: 16px;
}
@media only screen and (min-width: 800px) {
  main #main-2 div:nth-of-type(2) #fylo span {
    font-family: "Open Sans";
    font-size: 12px;
    color: #3da08f;
    font-weight: 400;
    text-align: 400;
    line-height: 16px;
  }
}
main #main-2 div:nth-of-type(2) #card {
  display: flex;
  flex-direction: flex-start;
  justify-content: column;
  align-items: flex-start;
  row-gap: 10px;
  width: 280px;
  text-align: left;
  padding: 25px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
}
@media only screen and (min-width: 800px) {
  main #main-2 div:nth-of-type(2) #card {
    display: flex;
    flex-direction: flex-start;
    justify-content: column;
    align-items: flex-start;
    row-gap: 10px;
    width: 280px;
    text-align: left;
    padding: 25px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
  }
}
main #main-2 div:nth-of-type(2) #card p {
  font-family: "Open Sans";
  font-size: 10px;
  color: #07043b;
  font-weight: 400;
  text-align: 400;
  line-height: 18px;
  text-align: left;
  margin: 0;
}
@media only screen and (min-width: 800px) {
  main #main-2 div:nth-of-type(2) #card p {
    font-family: "Open Sans";
    font-size: 10px;
    color: #07043b;
    font-weight: 400;
    text-align: 400;
    line-height: 18px;
    text-align: left;
    margin: 0;
  }
}
main #main-2 div:nth-of-type(2) #card img {
  width: 12px;
  height: auto;
}
main #main-2 div:nth-of-type(2) #card img:nth-of-type(2) {
  width: 24px;
  height: auto;
  border-radius: 50px;
}
main #main-2 div:nth-of-type(2) #card div {
  width: 100%;
  display: flex;
  flex-direction: center;
  justify-content: row;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
main #main-2 div:nth-of-type(2) #card img[alt=avatar] {
  width: 24px;
  height: auto;
  border-radius: 50px;
}
main #main-2 div:nth-of-type(2) #card #fname {
  display: flex;
  flex-direction: flex-start;
  justify-content: column;
  align-items: center;
}
main #main-2 div:nth-of-type(2) #card #fname img {
  width: 24px;
  height: auto;
  border-radius: 50px;
}
main #main-2 div:nth-of-type(2) #card #fname h1 {
  font-family: "Open Sans";
  font-size: 9px;
  color: #07043b;
  font-weight: 400;
  text-align: 700;
  line-height: 12px;
  text-align: left;
}
main #main-2 div:nth-of-type(2) #card #fname p {
  font-family: "Open Sans";
  font-size: 6px;
  color: #07043b;
  font-weight: 400;
  text-align: 400;
  letter-spacing: 0.3px;
  margin: 0;
}
main #main-email {
  display: flex;
  flex-direction: center;
  justify-content: column;
  align-items: center;
  row-gap: 20px;
  height: 345px;
  background-color: #575988;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  main #main-email {
    padding: 100px 40px 80px 80px;
    display: flex;
    flex-direction: flex-start;
    justify-content: row;
    align-items: space-between;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    height: 345px;
    background-color: #575988;
    text-align: center;
  }
}
main #main-email h1 {
  font-family: Raleway;
  font-size: 18px;
  color: white;
  font-weight: 400;
  text-align: 700;
}
@media only screen and (min-width: 800px) {
  main #main-email h1 {
    font-family: Raleway;
    font-size: 32px;
    color: white;
    font-weight: 400;
    text-align: 700;
    text-align: left;
  }
}
main #main-email p {
  width: 278px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 400;
  text-align: 400;
  margin-top: 16px;
  line-height: 21px;
}
@media only screen and (min-width: 800px) {
  main #main-email p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-align: 400;
    margin-top: 16px;
    text-align: left;
    line-height: 24px;
  }
}
main #main-email div:nth-of-type(2) {
  width: 240px;
  display: flex;
  flex-direction: center;
  justify-content: column;
  align-items: space-between;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
@media only screen and (min-width: 800px) {
  main #main-email div:nth-of-type(2) {
    display: flex;
    flex-direction: flex-start;
    justify-content: column;
    align-items: space-between;
    width: 50%;
    text-align: left;
  }
}
main #main-email div:nth-of-type(2) input:nth-of-type(1) {
  font-size: 10px;
  color: #c0c0c0;
  font-weight: 400;
  text-align: 400;
  border: 1px solid transparent;
  height: 32px;
  outline: none;
}
@media only screen and (min-width: 800px) {
  main #main-email div:nth-of-type(2) input:nth-of-type(1) {
    font-size: 12px;
    color: #07043b;
    font-weight: 400;
    text-align: 400;
    height: 48px;
    width: 100%;
    max-width: none;
  }
}
main #main-email div:nth-of-type(2) input:nth-of-type(2) {
  font-size: 10px;
  color: white;
  font-weight: 400;
  text-align: 700;
  height: 32px;
}
@media only screen and (min-width: 800px) {
  main #main-email div:nth-of-type(2) input:nth-of-type(2) {
    height: 48px;
    min-width: 100px;
    max-width: 200px;
    width: 40%;
  }
}

footer {
  background-color: #07043b;
  color: white;
  padding: 65px 40px;
  display: flex;
  flex-direction: flex-start;
  justify-content: column;
  align-items: center;
  row-gap: 10px;
}
@media only screen and (min-width: 800px) {
  footer {
    background-color: #07043b;
    color: white;
    padding: 65px 80px;
  }
}
footer #footer-logo {
  align-self: flex-start;
}
footer #footer-contact {
  width: 100%;
  display: flex;
  flex-direction: center;
  justify-content: column;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  footer #footer-contact {
    display: flex;
    flex-direction: center;
    justify-content: row;
    align-items: space-between;
    padding-right: 20px;
  }
}
footer #footer-contact .item {
  align-self: flex-start;
}
footer #footer-contact .item:nth-of-type(4) {
  margin-top: 10px;
  align-self: center;
}
@media only screen and (min-width: 800px) {
  footer #footer-contact .item:nth-of-type(4) {
    align-self: start;
  }
}
footer #footer-contact .item:nth-of-type(4) img {
  margin: 10px;
  padding: 4px;
  border-radius: 50%;
  border: white 1px solid;
}
footer #footer-contact section {
  display: flex;
  flex-direction: flex-start;
  justify-content: column;
  align-items: center;
  row-gap: 12px;
  font-family: "Open Sans";
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-align: 400;
  margin: 16px 0;
}
footer #footer-contact section div {
  display: flex;
  flex-direction: center;
  justify-content: raw;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
footer #footer-contact section div:hover {
  filter: invert(53%) sepia(74%) saturate(1662%) hue-rotate(199deg) brightness(103%) contrast(101%);
  cursor: pointer;
}
footer #footer-contact .item p:not(#odd p) {
  font-family: "Open Sans";
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-align: 400;
  margin: 16px 0;
}
footer #footer-contact p:not(#odd p):hover {
  color: #6c9bff;
  cursor: pointer;
}
footer #footer-contact img:not(#odd img):hover {
  filter: invert(53%) sepia(74%) saturate(1662%) hue-rotate(199deg) brightness(103%) contrast(101%);
  cursor: pointer;
}