*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: Kumbh Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  color: #1e1f36;
  margin-top: 65px;
}
#container {
  position: relative;
  width: 327px;
  height: 500px;
  border-radius: 23px;
  background-color: white;
  margin: 80px auto;
  padding: 25px;
}

#zorg1 {
  position: absolute;
  top: -106px;
  left: 45px;
  width: 237px;
  z-index: 2;
}
#zorg2 {
  position: absolute;
  top: -7px;
  left: 45px;
}

#zorg3 {
  display: none;
}

#questionbox {
  margin-top: 36px;
}

.questions {
  display: flex;
  flex-direction: column;
  height: 45px;
  overflow: hidden;
  transition: height 200ms linear;
  border-bottom: solid #e8e8ea 1px;
  /* border: dashed red 1px; */
  margin: 10px;
}

.question {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s linear;
  margin: 10px 0;
}

.normal {
  color: #4b4c5f;
  font-weight: 400;
  /* transition: all 1.3s linear; */
}

.normal:hover {
  color: #f47b56;
  cursor: pointer;
}

.answer {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin: 10px 0;
}

.arrow {
  align-self: center;
  transition: transform 0.2s linear;
}

.fix {
  height: 110px;
}

.fix1 {
  transform: rotate(180deg);
}

.bold {
  font-weight: 700;
}

@media only screen and (min-width: 1000px) {
  #container {
    height: 509px;
    width: 920px;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  #questionbox {
    flex-basis: 450px;
  }
  #imagebox {
    flex-basis: 450px;
    background-image: url("images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -86px 75px;
  }

  #zorg1 {
    display: none;
  }
  #zorg2 {
    display: none;
  }

  #zorg3 {
    display: block;
    position: absolute;
    top: 207px;
    left: -94px;
  }
}
