@mixin box($w: 88px, $h: 36px, $r: 9px, $b: #2b2d8b) {
  width: $w;
  height: $h;
  border-radius: $r;
  background: $b;
  text-align: center;
  border: none;
}
@mixin text($f: 16px, $c: black, $a: center, $w: 400) {
  font-size: $f;
  color: $c;
  font-weight: $w;
  text-align: $a;
}

@mixin flex($j: center, $a: center, $d: row) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

@mixin view($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin view1() {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin view2() {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

%border {
  section {
    border: 2px rgb(57, 5, 245) dashed;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  mark,
  nav,
  summary,
  time,
  div {
    border: 2px rgb(3, 3, 3) dotted;
  }
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  // outline: 1px red dotted;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100vh;
  @include flex(flex-end, stretch, column);
}
