*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark-green: #00474b;
  --dis-green: #0d686d;
  --bright-green-1: #9fe8df;
  --bright-green-2: #26c2ae;
}

* {
  font-family: "Space Mono", monospace;
}

body {
  padding-top: 40px;
  background-color: #bbe5e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media only screen and (min-width: 980px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.input {
  position: relative;
}

.container img {
  position: absolute;
  top: 14px;
  left: 10px;
}

input {
  width: 311px;
  height: 48px;
  border-radius: 5px;
  background-color: #f3f9fa;
  font-size: 24px;
  color: var(--dark-green);
  font-weight: 700;
  text-align: right;
  border: none;
  line-height: 36px;
  padding-right: 18px;
  caret-color: var(--bright-green-2);
}
@media only screen and (min-width: 980px) {
  input {
    width: 379px;
    height: 48px;
    border-radius: 5px;
    background-color: #f3f9fa;
  }
}

input::-moz-placeholder {
  opacity: 0.35;
  font-size: 24px;
  color: var(--dark-green);
  font-weight: 700;
  text-align: right;
}

input::placeholder {
  opacity: 0.35;
  font-size: 24px;
  color: var(--dark-green);
  font-weight: 700;
  text-align: right;
}

input:focus {
  border: 2px var(--bright-green-2) solid;
}

p {
  margin: 10px 0;
}

h1 {
  font-size: 16px;
  color: #5e7a7d;
  font-weight: 700;
  text-align: left;
  line-height: 24px;
  letter-spacing: 0px;
  display: inline-block;
  margin-bottom: 6px;
}

.error-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #e17457;
  display: inline-block;
}

.container {
  width: 375px;
  margin: 30px auto 0 auto;
  border-radius: 25px 25px 0px 0px;
  background-color: #ffffff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media only screen and (min-width: 980px) {
  .container {
    height: 481px;
    width: 920px;
    display: grid;
    -moz-column-gap: 48px;
         column-gap: 48px;
    border-radius: 25px;
  }
}
.container .bill-input {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 980px) {
  .container .bill-input {
    grid-area: 1/1/span 1/span 1;
  }
}
.container .tip-box {
  width: 100%;
}
@media only screen and (min-width: 980px) {
  .container .tip-box {
    grid-area: 2/1/span 1/span 1;
  }
}
@media only screen and (min-width: 980px) {
  .container .tip-box h1 {
    margin-bottom: 16px;
  }
}
.container .tip-box #group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
@media only screen and (min-width: 980px) {
  .container .tip-box #group {
    -moz-column-gap: 14px;
         column-gap: 14px;
    row-gap: 16px;
  }
}
.container .tip-box #tip-input {
  width: 146px;
  height: 48px;
  border-radius: 5px;
  background-color: #f3f9fa;
  font-size: 24px;
  color: var(--dark-green);
  font-weight: 700;
  text-align: right;
  border: none;
  line-height: 36px;
  padding-right: 18px;
}
@media only screen and (min-width: 980px) {
  .container .tip-box #tip-input {
    width: 117px;
  }
}
.container .tip-box .tip-btn {
  width: 146px;
  height: 48px;
  border-radius: 5px;
  background-color: var(--dark-green);
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  padding: 5px;
  border: none;
}
@media only screen and (min-width: 980px) {
  .container .tip-box .tip-btn {
    width: 117px;
  }
}
.container .tip-box .tip-btn:hover {
  background-color: var(--bright-green-1);
}
.container .tip-box .tip-btn.clicked {
  background-color: var(--bright-green-2);
  color: var(--dark-green);
}
.container .people-box {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 980px) {
  .container .people-box {
    grid-area: 3/1/span 1/span 1;
  }
}
.container .people-box section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
.container .people-box #person-input.errorborder {
  border: 2px #e17052 solid;
}
.container .calc {
  width: 311px;
  height: 257px;
  border-radius: 15px;
  background-color: var(--dark-green);
  padding: 39px 22px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
@media only screen and (min-width: 980px) {
  .container .calc {
    grid-area: 1/2/span 3/span 1;
    padding: 40px;
    height: 417px;
    width: 413px;
  }
}
.container .calc .reset-btn {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background-color: var(--bright-green-2);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--dark-green);
  border: none;
}
.container .calc .reset-btn.disabled {
  background-color: var(--dis-green);
  color: var(--dark-green);
  pointer-events: none;
}
.container .calc .reset-btn.disabled:hover {
  background-color: var(--dis-green);
  color: var(--dark-green);
}
.container .calc .amount-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .calc .amount-line section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container .calc .amount-line h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.container .calc .amount-line h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #7f9d9f;
}
.container .calc .amount-line .amount {
  font-size: 32px;
  color: var(--bright-green-2);
  font-weight: 700;
  text-align: right;
  line-height: 47px;
}
@media only screen and (min-width: 980px) {
  .container .calc .amount-line .amount {
    font-size: 48px;
    color: var(--bright-green-2);
    font-weight: 700;
    text-align: right;
    line-height: 71px;
  }
}