*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

* {
  font-family: "Space Mono", monospace;
}

body {
  padding-top: 40px;
  background-color: #bbe5e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media only screen and (min-width: 980px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

input {
  width: 100%;
  background-color: #f3f9fa;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: right;
  color: #00474b;
  padding: 6px 17px;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: 2px #26c2ae solid;
}

p {
  margin: 10px 0;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #5e7a7d;
  display: inline-block;
}

.error-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #e17457;
  display: inline-block;
}

#container {
  width: 375px;
  margin: 30px auto 0 auto;
  border-radius: 25px 25px 0px 0px;
  background-color: #ffffff;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
@media only screen and (min-width: 980px) {
  #container {
    height: 481px;
    width: 920px;
    display: grid;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    border-radius: 25px;
  }
}

#cell1 {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 980px) {
  #cell1 {
    grid-area: 1/1/span 1/span 1;
  }
}

#cell1 img {
  position: absolute;
  top: 60px;
  left: 18px;
}

/* -- ------------------------------------*/
#cell2 {
  width: 100%;
}
@media only screen and (min-width: 980px) {
  #cell2 {
    grid-area: 2/1/span 1/span 1;
  }
}

#cell3 {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 980px) {
  #cell3 {
    grid-area: 3/1/span 1/span 1;
  }
}

#cell3 img {
  position: absolute;
  top: 60px;
  left: 18px;
}

/* ------------------------Cell 4----------------------- */
#cell4 {
  height: 257px;
  width: 100%;
  left: 24px;
  top: 644px;
  border-radius: 15px;
  padding: 39px 22px 24px 24px;
  background-color: #00474b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 980px) {
  #cell4 {
    grid-area: 1/2/span 3/span 1;
    height: 417px;
    width: 413px;
  }
}

#cell4 button {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background-color: #0d686d;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #00474b;
  border: none;
}

#cell4 button:hover {
  background-color: #26c2ae;
  cursor: pointer;
}

.amount-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text1 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.text2 {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #7f9d9f;
}

.text3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  text-align: right;
  color: #26c2ae;
}

/* ------------------------------------------------------------ */
#group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}

.tip-button {
  width: 146px;
  height: 48px;
  border-radius: 5px;
  background-color: #00474b;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  padding: 5px;
  border: none;
}
@media only screen and (min-width: 980px) {
  .tip-button {
    width: 117px;
  }
}

.tip-button:hover {
  cursor: pointer;
}

.clicked {
  background-color: #26c2ae;
  color: #00474b;
}

.errorborder {
  outline: 2px #e17052 solid;
}