*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --red: hsl(0, 100%, 66%);
  --gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --white: rgb(255, 255, 255);
  --light-violet: rgb(222, 221, 223);
  --dark-violet: rgb(142, 133, 147);
  --very-dark-violet: rgb(33, 9, 47);
  --aspect-ratio: 1.82;
  --card-max-width: 447px;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  background-image: url("../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 240px;
  font-family: "Space Grotesk", sans-serif;
  padding: 30px 10px;
}
@media only screen and (min-width: 900px) {
  main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px calc(30% - 140px) 30px calc(30% - 240px);
    background-image: url("../images/bg-main-mobile.png");
    background-size: 40% 100%;
  }
}

.credit-card {
  width: 100%;
  max-width: 520px;
  height: clamp(268px, 70.8vw, 386px);
  margin-bottom: 48px;
  border-radius: 0;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
@media only screen and (min-width: 900px) {
  .credit-card {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    gap: 37px;
  }
}
.credit-card > div {
  width: 88%;
  min-width: 310px;
  aspect-ratio: var(--aspect-ratio);
  border-radius: 12px;
  background-color: transparent;
  max-width: var(--card-max-width);
  padding: 32px;
}
@media only screen and (min-width: 900px) {
  .credit-card > div {
    position: relative;
    background-color: transparent;
  }
}
.credit-card #front {
  position: absolute;
  left: 0;
  background-image: url("../images/bg-card-front.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-attachment: scroll;
  background-size: auto;
  background-size: cover;
  z-index: 11;
  top: clamp(98px, 26vw, 140px);
  display: grid;
  row-gap: 20px;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr max-content max-content max-content;
  letter-spacing: 1.3px;
  resize: horizontal;
  grid-template-areas: "num num num num" "name month dash year";
}
@media only screen and (min-width: 900px) {
  .credit-card #front {
    position: relative;
    top: 0;
  }
}
.credit-card #front .circles {
  position: absolute;
  left: 20px;
  top: 18px;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--white);
}
@media only screen and (min-width: 900px) {
  .credit-card #front .circles {
    left: 32px;
    top: 28px;
    width: clamp(28px, 3vw, 47px);
  }
}
.credit-card #front .circles:after {
  position: absolute;
  left: 42px;
  top: 8px;
  width: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--white);
  content: "";
}
@media only screen and (min-width: 900px) {
  .credit-card #front .circles:after {
    left: clamp(42px, 3.8vw, 60px);
    top: clamp(4px, 0.85vw, 13px);
    width: clamp(14px, 1.45vw, 22px);
  }
}
.credit-card #front #engraved-number {
  grid-area: num;
  letter-spacing: 4px;
  align-self: flex-end;
  color: var(--white);
  font-size: 18px;
  font-size: clamp(18px, 4.9cqw, 28px);
  font-weight: 500;
  letter-spacing: 2.2px;
}
@media only screen and (min-width: 900px) {
  .credit-card #front #engraved-number {
    font-size: clamp(18px, 2cqw, 28px);
  }
}
.credit-card #front #engraved-name {
  text-align: left;
  grid-area: name;
  color: var(--white);
  font-size: 9px;
  font-size: clamp(9px, 2.9cqw, 14px);
  font-weight: 500;
  text-transform: uppercase;
}
.credit-card #front #engraved-month {
  grid-area: month;
  color: var(--white);
  font-size: 9px;
  font-size: clamp(9px, 2.9cqw, 14px);
  font-weight: 500;
  text-transform: uppercase;
}
.credit-card #front #engraved-dash {
  grid-area: dash;
  color: var(--white);
  font-size: 9px;
  font-size: clamp(9px, 2.9cqw, 14px);
  font-weight: 500;
  text-transform: uppercase;
}
.credit-card #front #engraved-year {
  grid-area: year;
  color: var(--white);
  font-size: 9px;
  font-size: clamp(9px, 2.9cqw, 14px);
  font-weight: 500;
  text-transform: uppercase;
}
.credit-card #back {
  background-image: url("../images/bg-card-back.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-attachment: scroll;
  background-size: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 0px;
  right: 0;
  z-index: 9;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  padding: 54px;
}
@media only screen and (min-width: 900px) {
  .credit-card #back {
    align-self: flex-end;
  }
}
.credit-card #back #engraved-cvc {
  color: var(--white);
  font-size: 9px;
  font-size: clamp(9px, 2.9cqw, 14px);
  font-weight: 500;
  text-transform: uppercase;
  text-align: right;
}
@media only screen and (min-width: 900px) {
  .credit-card #back #engraved-cvc {
    top: 90px;
    right: 48px;
  }
}

.form {
  width: 90%;
  display: grid;
  max-width: 534px;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 1fr 1fr;
  resize: horizontal;
  grid-template-areas: "name name" "number number" "date cvc" "button button";
  gap: 11px;
}
@media only screen and (min-width: 900px) {
  .form {
    max-width: 400px;
  }
}
.form fieldset {
  width: 100%;
  border: none;
}
.form input {
  padding: 13px;
  border: 1px solid var(--light-violet);
  border-radius: 7px;
  width: 100%;
  outline: none;
  font-size: 16px;
}
.form input::-moz-placeholder {
  opacity: 0.35;
}
.form input::placeholder {
  opacity: 0.35;
}
.form label {
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.form .name {
  grid-area: name;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.form .number {
  grid-area: number;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.form .date {
  grid-area: date;
  display: grid;
  gap: 8px;
  grid-template-rows: max-content max-content auto;
  grid-template-areas: "lable lable" "month year" "error1 error2";
}
.form .date :nth-child(1) {
  grid-area: lable;
}
.form .date :nth-child(2) {
  grid-area: month;
}
.form .date :nth-child(3) {
  grid-area: year;
}
.form .date :nth-child(4) {
  grid-area: error1;
}
.form .date :nth-child(5) {
  grid-area: error2;
}
.form .cvc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.form button {
  width: 100%;
  grid-area: button;
  background: var(--very-dark-violet);
  border: none;
  padding: 15px 20px;
  color: var(--white);
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
}

.success {
  width: 90%;
  max-width: 534px;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 1fr 1fr;
  resize: horizontal;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  display: none;
}
@media only screen and (min-width: 900px) {
  .success {
    max-width: 400px;
  }
}
.success h1 {
  margin-top: 35px;
  color: var(--very-dark-violet);
  font-size: 28px;
  height: 36px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3.4;
  text-transform: uppercase;
}
.success p {
  margin-top: 16px;
  height: 23px;
  color: var(--dark-violet);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.success button {
  width: 100%;
  grid-area: button;
  background: var(--very-dark-violet);
  border: none;
  padding: 15px 20px;
  color: var(--white);
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 48px;
}

.error {
  transition: height 0.3s ease-in-out;
  font-size: 13px;
  overflow: hidden;
  color: var(--red);
  height: 0;
  transition: all 0.4s;
}

.active {
  animation: shake 0.2s;
  background-color: var(--red);
  color: white;
}

.errored {
  border-color: var(--red) !important;
}

@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}