@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  background-image: url(../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 310px;
  font-family: "Space Grotesk", sans-serif;
  padding: 30px 10px;
}
@media only screen and (min-width: 900px) {
  body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 30px 30px 30px calc(30% - 240px);
    background-image: url(../images/bg-main-desktop.png);
    background-size: 30% 100%;
  }
}

.credit-card {
  width: 100%;
  height: 420px;
  border-radius: 0;
  background-color: transparent;
  max-width: 534px;
  position: relative;
}
@media only screen and (min-width: 900px) {
  .credit-card {
    width: 100%;
    height: 448px;
    border-radius: 0;
    background-color: transparent;
    max-width: 534px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.credit-card .card-side {
  position: absolute;
  width: 100%;
  height: 248px;
  border-radius: 12px;
  background-color: transparent;
  max-width: 452px;
  padding: 32px;
}
@media only screen and (min-width: 900px) {
  .credit-card .card-side {
    position: relative;
    width: 354px;
    height: 208px;
    border-radius: 12px;
    background-color: transparent;
    max-width: unset;
  }
}
.credit-card #front {
  background-image: url(../images/bg-card-front.png);
  background-size: cover;
  z-index: 11;
  top: 140px;
}
@media only screen and (min-width: 900px) {
  .credit-card #front {
    top: 0;
  }
}
.credit-card #front #engraved-number {
  position: absolute;
  top: 140px;
  letter-spacing: 4px;
  width: 90%;
  font-size: 22px;
  color: white;
  font-weight: 400;
  text-align: left;
}
@media only screen and (min-width: 900px) {
  .credit-card #front #engraved-number {
    top: 112px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    text-align: left;
  }
}
.credit-card #front #engraved-name {
  position: absolute;
  bottom: 30px;
  width: auto;
  font-size: 14px;
  color: white;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}
.credit-card #front #engraved-date {
  position: absolute;
  bottom: 30px;
  right: 34px;
  width: auto;
  font-size: 14px;
  color: white;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}
.credit-card #back {
  background-image: url(../images/bg-card-back.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 0px;
  right: 0;
  z-index: 9;
}
@media only screen and (min-width: 900px) {
  .credit-card #back {
    width: 100%;
    height: 208px;
    border-radius: 0;
    background-color: transparent;
    background-size: 354px 100%;
    background-position: 100% 0%;
  }
}
.credit-card #back #engraved-cvc {
  position: absolute;
  top: 104px;
  right: 52px;
  font-size: 28px;
  color: white;
  font-weight: 400;
  text-align: right;
}
@media only screen and (min-width: 900px) {
  .credit-card #back #engraved-cvc {
    top: 90px;
    right: 48px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    text-align: left;
  }
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  max-width: 534px;
  gap: 14px;
}
@media only screen and (min-width: 900px) {
  main {
    max-width: 400px;
  }
}
main input {
  padding: 13px;
  border: 1px solid rgb(33, 9, 47);
  border-radius: 7px;
  width: 100%;
}
main .full-name,
main .card-number,
main .expiry-date,
main .cvc-code {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
main .expiry-cvc {
  display: grid;
  grid-template-areas: "lyear lyear lcvc lcvc" "month year cvc cvc" "mr yr cr cr";
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
main .expiry-cvc #lable-year {
  grid-area: lyear;
}
main .expiry-cvc #lable-cvc {
  grid-area: lcvc;
}
main .expiry-cvc #year {
  grid-area: year;
}
main .expiry-cvc #month {
  grid-area: month;
}
main .expiry-cvc #cvc {
  grid-area: cvc;
}
main .expiry-cvc #month-error {
  grid-area: mr;
}
main .expiry-cvc #year-error {
  grid-area: yr;
}
main .expiry-cvc #cvc-error {
  grid-area: cr;
  text-align: right;
}
main button {
  background: rgb(33, 9, 47);
  border: none;
  padding: 15px 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
}

.error {
  transition: height 0.3s ease-in-out;
  font-size: 13px;
  overflow: hidden;
  color: hsl(0, 100%, 66%);
  height: 0;
  transition: all 0.4s;
}

.active {
  animation: shake 0.2s;
  background-color: hsl(0, 100%, 66%);
  color: white;
}

.errored {
  border-color: hsl(0, 100%, 66%);
}

@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}