*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: "Big Shoulders Display", cursive;
  transition: all 0.4s ease;
}

body {
  min-height: 100vh;
  padding: 25px;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 680px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
}

.box {
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 460px;
  min-width: 233px;
  max-width: 318px;
  padding: 40px;
}
@media only screen and (min-width: 680px) {
  .box {
    min-width: 210px;
  }
}

.box:hover {
  padding: 40px 30px 40px 50px;
}

#box1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 8px 0 0;
}
@media only screen and (min-width: 680px) {
  #box1 {
    border-radius: 8px 0 0 8px;
  }
}

#box2 {
  background-color: hsl(184, 100%, 22%);
}

#box3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 8px 8px;
}
@media only screen and (min-width: 680px) {
  #box3 {
    border-radius: 0 8px 8px 0;
  }
}

p {
  font-size: 15px;
  color: white;
  font-weight: 200;
  text-align: left;
  font-family: "Lexend Deca";
  color: rgba(255, 255, 255, 0.75);
}

h1 {
  font-size: 36px;
  color: white;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

button {
  font-size: 0.9rem;
  color: gray;
  font-weight: 400;
  text-align: left;
  width: auto;
  height: auto;
  border-radius: 2em;
  background-color: white;
  font-family: "Lexend Deca";
  display: inline-block;
  padding: 12px 36px;
  transition: ease-in-out 0.3s;
  border: solid 1px transparent;
}

button:hover {
  color: white;
  background-color: hsla(0, 0%, 100%, 0.02);
  border: solid 1px white;
}