*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}

/*lets start coding*/
body {
  background-color: #08222f;
  font-family: "Outfit", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card {
  width: 327px;
  border-radius: 15px;
  padding: 24px;
  background-color: #0e2b41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: flex-star;
      -ms-flex-align: flex-star;
          align-items: flex-star;
  row-gap: 32px;
}
@media only screen and (min-width: 400px) {
  #card {
    width: 350px;
    row-gap: 26px;
  }
}
#card header {
  position: relative;
}
#card header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 279px;
  height: 279px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
@media only screen and (min-width: 400px) {
  #card header div {
    width: 302px;
    height: 302px;
  }
}
#card header div:hover {
  background-color: rgba(0, 255, 247, 0.5254901961);
}
#card header div:hover img[alt=view] {
  opacity: 1;
}
#card header img[alt=equilibrium] {
  width: 100%;
  border-radius: 8px;
}
#card header img[alt=view] {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#card main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: flex-star;
      -ms-flex-align: flex-star;
          align-items: flex-star;
  row-gap: 16px;
}
#card main p:nth-of-type(1) {
  font-family: "Outfit";
  font-size: 22px;
  color: white;
  font-weight: 600;
  text-align: left;
  line-height: 28px;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}
#card main p:nth-of-type(1):hover {
  color: #00fff8;
  cursor: pointer;
}
#card main p:nth-of-type(2) {
  font-family: "Outfit";
  font-size: 18px;
  color: #8bacd9;
  font-weight: 300;
  text-align: left;
  line-height: 26px;
  letter-spacing: -0.6px;
}
#card main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#card main div section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
#card main div img[alt=ethereum] + span {
  font-size: 15px;
  color: #00fff8;
  font-weight: 600;
  text-align: left;
  line-height: 19px;
}
#card main div img[alt=clock] + span {
  font-size: 15px;
  color: #8bacd9;
  font-weight: 600;
  text-align: left;
  line-height: 19px;
}
#card hr {
  height: 1px;
  border-width: 0;
  color: #2a4354;
  background-color: #2a4354;
}
#card footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
#card footer span:nth-of-type(1) {
  font-family: Outfit;
  font-size: 15px;
  color: #8bacd9;
  font-weight: 400;
  text-align: left;
  line-height: 19px;
}
#card footer span:nth-of-type(2) {
  font-family: Outfit;
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-align: left;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
  line-height: 19px;
}
#card footer span:nth-of-type(2):hover {
  color: #00fff8;
  cursor: pointer;
}
#card footer img {
  width: 33px;
  border-radius: 50%;
  border: white 1px solid;
}