*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #00a4b0;
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat no-repeat;
  background-position: calc(-46vw + 100%) calc(-34vh + 100%), 45vw 45vh;
}

.container {
  width: 326px;
  height: 374px;
  border-radius: 15px;
  background-color: white;
  background-image: url("../images/bg-pattern-card.svg");
  background-repeat: no-repeat;
}
@media only screen and (min-width: 375px) {
  .container {
    width: 350px;
    height: 374px;
    border-radius: 15px;
    background-color: white;
    background-image: url("../images/bg-pattern-card.svg");
    background-repeat: no-repeat;
  }
}
.container .image {
  width: 100%;
  height: 188px;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.container .image .frame {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .image .frame img {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background-color: transparent;
}
.container .person {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8.5px;
       column-gap: 8.5px;
  margin-top: 17px;
}
.container .person h1 {
  font-size: 18px;
  color: #2e3349;
  font-weight: 700;
  text-align: center;
}
.container .person h2 {
  font-size: 18px;
  color: #6b7082;
  font-weight: 400;
  text-align: center;
}
.container h3 {
  font-size: 14px;
  color: #6b7082;
  font-weight: 400;
  text-align: center;
  margin-top: 13px;
}
.container .statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: #e8e9ec solid 1px;
  margin-top: 28px;
  padding-top: 24px;
}
.container .statistics div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 9px;
}
.container .statistics div h4 {
  font-size: 18px;
  color: #2e3349;
  font-weight: 700;
  text-align: center;
  line-height: 22px;
}
.container .statistics div h5 {
  font-size: 10px;
  color: #2e3349;
  font-weight: 400;
  text-align: center;
  line-height: 12px;
  letter-spacing: 1.5px;
}