body {
  min-height: 100svh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

main {
  width: 327px;
  height: 360px;
  border-radius: 15px;
  background-color: transparent;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  main {
    width: 412px;
    height: 416px;
    border-radius: 30px;
    background-color: transparent;
    padding: 32px;
  }
}
main .star {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #262e38;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: flex-start;
}
@media only screen and (min-width: 768px) {
  main .star {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #262e38;
  }
}
main .mobile {
  display: block;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  main .mobile {
    margin-top: 13px;
  }
}
main h1 {
  font-size: 24px;
  color: white;
  font-weight: 700;
  text-align: left;
  margin: 16px 0 10px 0;
  align-self: flex-start;
}
@media only screen and (min-width: 768px) {
  main h1 {
    font-size: 28px;
    color: white;
    font-weight: 700;
    text-align: left;
    margin: 30px 0 7px 0;
  }
}
main h2 {
  font-size: 24px;
  color: white;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  main h2 {
    font-size: 28px;
    color: white;
    font-weight: 700;
    text-align: left;
    margin-bottom: 7px;
  }
}
main p {
  font-size: 14px;
  color: #969fad;
  font-weight: 400;
  text-align: left;
  line-height: 22px;
}
@media only screen and (min-width: 768px) {
  main p {
    font-size: 15px;
    color: #969fad;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
  }
}
main span {
  font-size: 14px;
  color: #969fad;
  font-weight: 400;
  text-align: center;
  line-height: 22px;
}
@media only screen and (min-width: 768px) {
  main span {
    width: 338px;
    font-size: 15px;
    color: #969fad;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
  }
}
main .bubble-box {
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 24px 0;
}
@media only screen and (min-width: 768px) {
  main .bubble-box {
    margin: 24px 0 32px 0;
    gap: 22px;
  }
}
main .bubble-box .rating-bubble {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #262e38;
  font-size: 16px;
  color: #7c8798;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.8s;
}
@media only screen and (min-width: 768px) {
  main .bubble-box .rating-bubble {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: #262e38;
  }
}
main .bubble-box .rating-bubble:hover {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fc7614;
  font-size: 16px;
  color: white;
  font-weight: 700;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  main .bubble-box .rating-bubble:hover {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: #fc7614;
  }
}
main .bubble-box .active {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #7c8798;
  font-size: 16px;
  color: white;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  main .bubble-box .active {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: #7c8798;
  }
}
main .result {
  width: 168px;
  height: 32px;
  border-radius: 22.5px;
  background-color: #262e38;
  font-size: 14px;
  color: #fc7614;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}
@media only screen and (min-width: 768px) {
  main .result {
    margin: 32px 0;
    font-size: 15px;
    color: #fc7614;
    font-weight: 400;
    text-align: center;
  }
}
main button {
  width: 100%;
  height: 45px;
  border-radius: 22px;
  background-color: #fc7614;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.9px;
  border: none;
  cursor: pointer;
  transition: all 0.8s;
}
@media only screen and (min-width: 768px) {
  main button {
    font-size: 15px;
    color: white;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
  }
}
main button:hover {
  width: 100%;
  height: 45px;
  border-radius: 22px;
  background-color: white;
  font-size: 14px;
  color: #fc7614;
  font-weight: 700;
  text-align: center;
}
