@import "../root/functions.scss";
$bg: hsl(212, 45%, 89%);
$blue: #1f314f;
$gray: #7d889e;

* {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: $bg;
  @include flex(center, center, column);


  @include flex(center, center, row);
}
main {
  @include box(320px, 497px, 20px, white);
  padding: 16px;
  @include flex(flex-start, center, column);
}

img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

h1 {
  margin-top: 24px;
  @include box(288px, 56px, 20px, white);
  @include text(22px, $blue, center, 700);
}

p {
  margin-top: 16px;
  @include box(256px, 57px, 20px, white);
  @include text(15px, $gray, center, 400);
}
