*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}

summary .box .icon {
  height: 65px;
  width: 65px;
  border-radius: 16px;
  background-color: #f16718;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
mark,
nav,
section,
summary,
time,
div {
  border: 1px red dotted;
}

/*lets start coding*/
body {
  font-family: "Barlow", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vw 4vw 65px 4vw;
}
@media only screen and (min-width: 1356px) {
  header {
    padding: 5vw 7vw 65px 7vw;
  }
}
header img {
  width: 50px;
  height: auto;
}
header button {
  font-size: 16px;
  color: #162542;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
  width: 150px;
  height: 48px;
  border-radius: 8px;
  background: #e8eff2;
  text-align: center;
  border: none;
}
@media only screen and (min-width: 700px) {
  header button {
    width: 175px;
    height: 58px;
    border-radius: 8px;
    background: #e8eff2;
    text-align: center;
    border: none;
  }
}
header button:hover {
  background-color: #162542;
  color: white;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  row-gap: 4vw;
  padding-left: 4vw;
  margin-bottom: 4vw;
}
@media only screen and (min-width: 700px) {
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@media only screen and (min-width: 1356px) {
  article {
    position: relative;
    padding: 0 7vw 0 7vw;
  }
}
article section:nth-of-type(1) {
  padding-right: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  row-gap: 24px;
}
@media only screen and (min-width: 700px) {
  article section:nth-of-type(1) {
    padding-right: 0;
    row-gap: 30px;
    width: 344px;
  }
}
@media only screen and (min-width: 1356px) {
  article section:nth-of-type(1) {
    padding-right: 0;
    row-gap: 30px;
    width: 600px;
  }
}
article section:nth-of-type(1) h1 {
  font-size: 48px;
  color: #162542;
  font-weight: 900;
  text-align: left;
  line-height: 48px;
  text-transform: uppercase;
}
@media only screen and (min-width: 700px) {
  article section:nth-of-type(1) h1 {
    max-width: 380px;
  }
}
article section:nth-of-type(1) p {
  font-size: 16px;
  color: #7b8bad;
  font-weight: 500;
  text-align: left;
  line-height: 26px;
}
@media only screen and (min-width: 700px) {
  article section:nth-of-type(1) p {
    max-width: 500px;
  }
}
article section:nth-of-type(1) section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 16px;
  color: #7b8bad;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@media only screen and (min-width: 700px) {
  article section:nth-of-type(1) section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    font-size: 16px;
    color: #7b8bad;
    font-weight: 500;
    text-align: center;
    line-height: 26px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
article section:nth-of-type(1) section button {
  width: 150px;
  height: 48px;
  border-radius: 8px;
  background: #f16718;
  text-align: center;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
}
@media only screen and (min-width: 700px) {
  article section:nth-of-type(1) section button {
    width: 175px;
    height: 58px;
    border-radius: 8px;
    background: #f16718;
    text-align: center;
    border: none;
  }
}
article section:nth-of-type(1) section p {
  font-size: 16px;
  color: #7b8bad;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
}
article section:nth-of-type(2) {
  height: 84vw;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: url("../images/image-keyboard.jpg") no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 700px) {
  article section:nth-of-type(2) {
    height: 400px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media only screen and (min-width: 1356px) {
  article section:nth-of-type(2) {
    height: 450px;
    border-radius: 20px;
  }
}
article section:nth-of-type(3) {
  display: none;
}
@media only screen and (min-width: 1356px) {
  article section:nth-of-type(3) {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: block;
    position: absolute;
    right: 0;
    height: 240px;
    width: calc(7vw - 10px);
    max-width: 120px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #e8eff2;
  }
}

aside {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 250px;
  -webkit-column-gap: 4vw;
     -moz-column-gap: 4vw;
          column-gap: 4vw;
  row-gap: 60px;
  padding-right: 4vw;
}
@media only screen and (min-width: 700px) {
  aside {
    grid-template-columns: 30% 1fr;
    grid-template-rows: 320px;
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
    row-gap: 70px;
    padding: 4vw;
  }
}
@media only screen and (min-width: 1356px) {
  aside {
    position: relative;
    grid-template-columns: 255px 445px -webkit-fit-content;
    grid-template-columns: 255px 445px fit-content; /**/
    grid-template-rows: 480px;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    padding: 0 7vw;
    row-gap: 0;
  }
}
aside section:nth-of-type(1) {
  grid-area: 1/1/span 1/span 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(331deg, rgb(255, 98, 0) 0%, rgb(255, 98, 0) 0%), url("../images/image-phone-and-keyboard.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: right top;
}
@media only screen and (min-width: 700px) {
  aside section:nth-of-type(1) {
    -webkit-column-gap: 4vw;
       -moz-column-gap: 4vw;
            column-gap: 4vw; /**/
    border-radius: 20px; /**/
  }
}
@media only screen and (min-width: 1356px) {
  aside section:nth-of-type(1) {
    -webkit-column-gap: 7vw;
       -moz-column-gap: 7vw;
            column-gap: 7vw; /**/
  }
}
aside section:nth-of-type(2) {
  grid-area: 1/2/span 1/span 1;
  border-radius: 20px;
  background: url("../images/image-glass-and-keyboard.jpg") no-repeat;
  background-size: cover;
}
aside section:nth-of-type(3) {
  grid-area: 2/1/span 1/span 2;
  row-gap: 30px;
  margin-left: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 700px) {
  aside section:nth-of-type(3) {
    row-gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width: 1356px) {
  aside section:nth-of-type(3) {
    grid-area: 1/3/span 1/span 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 20px;
    padding: 0;
    margin-left: 60px;
  }
}
aside section:nth-of-type(3) div:nth-of-type(1) {
  font-size: 32px;
  color: #162542;
  font-weight: 900;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 260px;
}
@media only screen and (min-width: 700px) {
  aside section:nth-of-type(3) div:nth-of-type(1) {
    width: 36%;
    text-align: left;
  }
}
@media only screen and (min-width: 1356px) {
  aside section:nth-of-type(3) div:nth-of-type(1) {
    width: 100%;
    text-align: left;
  }
}
aside section:nth-of-type(3) div:nth-of-type(2) {
  font-size: 16px;
  color: #7b8bad;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
  max-width: 330px;
}
@media only screen and (min-width: 700px) {
  aside section:nth-of-type(3) div:nth-of-type(2) {
    width: 56%;
    text-align: left;
  }
}
@media only screen and (min-width: 1356px) {
  aside section:nth-of-type(3) div:nth-of-type(2) {
    max-width: 330px;
    text-align: left;
  }
}
aside section:nth-of-type(4) {
  display: none;
}
@media only screen and (min-width: 1356px) {
  aside section:nth-of-type(4) {
    display: block;
    position: absolute;
    bottom: 7vw;
    height: 240px;
    width: calc(7vw - 10px);
    max-width: 120px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #e8eff2;
  }
}

summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  padding: 0 20px;
  margin: 50px 0;
}
@media only screen and (min-width: 700px) {
  summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /**/
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; /**/
    row-gap: 20px;
    -webkit-column-gap: 56px;
       -moz-column-gap: 56px;
            column-gap: 56px;
    padding: 4vw; /**/
    margin: 50px 0; /**/
  }
}
@media only screen and (min-width: 1356px) {
  summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /**/
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    padding: 0 7vw; /**/
  }
}
summary .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
  max-width: 280px;
  height: 300px;
}
@media only screen and (min-width: 700px) {
  summary .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /**/
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px; /**/
    max-width: none; /**/
    width: 43%; /**/
    max-width: 380px;
  }
}
@media only screen and (min-width: 1356px) {
  summary .box {
    width: 22%;
    height: 350px;
  }
}
summary .box .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
summary .box .header {
  font-size: 24px;
  color: #162542;
  font-weight: 900;
  text-align: center;
  line-height: 28px;
  max-width: 180px;
}
@media only screen and (min-width: 700px) {
  summary .box .header {
    text-align: left;
  }
}
summary .box .desc {
  font-size: 16px;
  color: #7b8bad;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
}
@media only screen and (min-width: 700px) {
  summary .box .desc {
    text-align: left;
  }
}

footer {
  text-align: center;
  padding-bottom: 50px;
}
@media only screen and (min-width: 400px) {
  footer {
    padding-bottom: 39px;
  }
}
footer span:nth-of-type(1) {
  font-size: 16px;
  color: #7b8bad;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
}
footer span:nth-of-type(2) {
  font-size: 16px;
  color: #7b8bad;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
}