#root {
  min-height: 100vh;
  padding-top: 40px;
  background-color: #bbe5e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media only screen and (min-width: 980px) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

:root {
  --dark-green: #00474b;
  --dis-green: #0d686d;
  --bright-green-1: #9fe8df;
  --bright-green-2: #26c2ae;
}

* {
  font-family: "Space Mono", monospace;
}

p {
  margin: 10px 0;
}

h1 {
  font-size: 16px;
  color: #5e7a7d;
  font-weight: 700;
  text-align: left;
  line-height: 24px;
  letter-spacing: 0px;
  display: inline-block;
  margin-bottom: 6px;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #7f9d9f;
}

h4 {
  font-size: 32px;
  color: var(--bright-green-2);
  font-weight: 700;
  text-align: right;
  line-height: 47px;
}

@media only screen and (min-width: 980px) {
  h4 {
    font-size: 48px;
    color: var(--bright-green-2);
    font-weight: 700;
    text-align: right;
    line-height: 71px;
  }
}