*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

body {
  background: url("../images/bg-pattern.svg") white left top no-repeat;
  background-size: 100% 320px;
  font-family: "Manrope", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  text-align: center;
  color: #848ead;
}

#container {
  position: relative;
  width: 327px;
  border-radius: 8px;
  background-color: white;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
          box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  display: grid;
  row-gap: 24px;
}

img {
  display: block;
}

#view-box {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #848ead;
  height: 30px;
}

#input-box #slider-box {
  width: 276px;
  height: 40px;
  position: relative;
  display: inline-block;
}
#input-box #circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #10d8c4;
  -webkit-transform-origin: left 50%;
          transform-origin: left 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
          box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  -webkit-transform: translate(118px);
          transform: translate(118px);
}
#input-box #gray-line {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 1;
  height: 10px;
  width: 276px;
  border-radius: 8px;
  background-color: #ecf0fb;
}
#input-box #color-line {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 1;
  height: 10px;
  width: 138px;
  border-radius: 8px;
  background-color: #a4f3eb;
}

#price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
#price-box #price-amount {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  text-align: right;
  color: #293356;
}
#price-box #price-period {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #848ead;
}

#trail-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  padding: 20px 0 0 0;
}
#trail-box #trail-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}
#trail-box button {
  width: 170px;
  height: 41px;
  border-radius: 20.5px;
  background-color: #293356;
  font-size: 12px;
  color: #becdff;
  font-weight: 400;
  text-align: 800;
  font-family: Manrope;
  margin-top: 10px;
}
#trail-box button:hover {
  color: #ffffff;
}
#trail-box .trail-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #848ead;
}

header {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  background: url("../images/pattern-circles.svg") no-repeat center center;
}
header h1 {
  font-size: 20px;
  color: #293356;
  font-weight: 400;
  text-align: 800;
}
header p {
  font-size: 13px;
  color: #848ead;
  font-weight: 400;
  text-align: 600;
  width: 326px;
}

#config-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
#config-box span {
  font-size: 12px;
  color: #848ead;
  font-weight: 400;
  text-align: 600;
}
#config-box #discount-text,
#config-box #discount-text span {
  font-size: 10px;
  color: #ff8d68;
  font-weight: 400;
  text-align: 800;
  background: #feede8;
  border-radius: 9.5px;
  padding: 3px 8px;
}
#config-box #discount-text span {
  display: none;
}
#config-box #switcher {
  height: 22px;
  width: 43px;
  border-radius: 15px;
  background: #cfd8ef;
}
#config-box #switcher:hover {
  background: #7aeadf;
  cursor: pointer;
}
#config-box #switcher-ball {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: white;
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

/* --------------------------------------------- */
input {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 276px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;
}

input:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* ----------------------------------------------------- */
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  opacity: 0;
}

input:hover {
  cursor: help;
  cursor: pointer;
}

input:hover #circle {
  background-color: #ff8d68;
}

input::-webkit-slider-thumb:hover #circle {
  background-color: #293356;
}

@media only screen and (min-width: 678px) {
  input {
    width: 444px;
  }
  body {
    background-size: 100% 420px;
  }
  #container {
    width: 540px;
    display: grid;
    row-gap: 67px;
  }
  #view-box {
    grid-area: 1/1/span 1/span 1;
    height: auto;
    align-self: center;
    font-size: 14px;
    text-align: left;
  }
  #price-box {
    grid-area: 1/2/span 1/span 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  #price-box #price-amount {
    font-size: 40px;
  }
  #price-box #price-period {
    font-size: 16px;
  }
  #input-box {
    grid-area: 2/1/span 1/span 2;
  }
  #input-box #slider-box {
    width: 444px;
  }
  #input-box #circle {
    -webkit-transform: translate(202px);
            transform: translate(202px);
  }
  #input-box #gray-line {
    width: 444px;
  }
  #input-box #color-line {
    width: 222px;
  }
  #config-box {
    grid-area: 3/1/span 1/span 2;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  #config-box #discount-text span {
    display: inline;
  }
  #trail-box {
    grid-area: 4/1/span 1/span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
    -webkit-box-pack: row;
        -ms-flex-pack: row;
            justify-content: row;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    padding: 0;
  }
  #trail-box .trail-line {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}