*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-image: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: 80px -240px;
}
@media only screen and (min-width: 768px) {
  #wrapper {
    background-image: url(../assets/bg-main-tablet.png), url(../assets/bg-pattern-1.svg);
    background-repeat: no-repeat no-repeat;
    background-size: auto, 283px;
    background-position: -295px -250px, calc(100% + 37px) -38px;
  }
}
@media only screen and (min-width: 1440px) {
  #wrapper {
    background-image: url(../assets/bg-main-desktop.png), url(../assets/bg-pattern-1.svg);
    background-size: auto, 323px;
    background-position: -300px -250px, calc(100% + 0px) -42px;
  }
}

header {
  padding: 40px 10vw;
}
@media only screen and (min-width: 768px) {
  header {
    padding: 62px 3vw 80px 3vw;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    padding: 62px 165px 110px 165px;
  }
}

article {
  padding: 0 10vw;
}
@media only screen and (min-width: 768px) {
  article {
    padding: 0 3vw;
  }
}
@media only screen and (min-width: 1440px) {
  article {
    padding: 20px 165px 240px 165px;
  }
}
article h1 {
  font-size: 16px;
  color: black;
  font-weight: 700;
  text-align: left;
  line-height: 48px;
  max-width: 280px;
}
@media only screen and (min-width: 768px) {
  article h1 {
    font-size: 64px;
    line-height: 64px;
    max-width: 480px;
  }
}
@media only screen and (min-width: 1440px) {
  article h1 {
    font-size: 88px;
    line-height: 88px;
    max-width: 890px;
  }
}
article p {
  font-size: 16px;
  color: black;
  font-weight: 400;
  text-align: left;
  line-height: 26px;
  margin-top: 30px;
  max-width: 515px;
}
@media only screen and (min-width: 768px) {
  article p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1440px) {
  article p {
    font-size: 20px;
    line-height: 34px;
    max-width: 890px;
  }
}

main {
  height: 600px;
  background-color: black;
  margin-bottom: 450px;
  margin-top: 190px;
  background-image: url("../assets/bg-pattern-2.svg");
  background-size: 88%;
  background-repeat: no-repeat;
  background-position: center top;
}
@media only screen and (min-width: 768px) {
  main {
    height: 600px;
    margin-bottom: 265px;
    margin-left: 3vw;
    margin-right: 3vw;
    border-radius: 12px;
    background-size: 48%;
  }
}
@media only screen and (min-width: 1440px) {
  main {
    margin: 20px 165px 145px 165px;
  }
}
main #phone {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -100px;
  width: 210px;
}
@media only screen and (min-width: 768px) {
  main #phone {
    display: inline-block;
    width: 270px;
    top: -100px;
    left: 90px;
  }
}
@media only screen and (min-width: 1440px) {
  main #phone {
    top: -215px;
    width: 312px;
  }
}
main section {
  background-color: orange;
  width: 375px;
  height: 546px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  border-radius: 12px;
  padding: 28px 36px;
}
@media only screen and (min-width: 768px) {
  main section {
    left: calc(100% - 730px);
    top: -10px;
    width: 399px;
    padding: 40px 54px;
    margin: 0;
    display: inline-block;
  }
}
@media only screen and (min-width: 1440px) {
  main section {
    left: calc(100% - 829px);
    top: -117px;
    width: 446px;
    height: 625px;
  }
}
main section h1 {
  font-size: 32px;
  color: white;
  font-weight: 700;
  text-align: left;
  line-height: 40px;
}
@media only screen and (min-width: 1440px) {
  main section h1 {
    font-size: 40px;
    line-height: 52px;
  }
}
main section p {
  font-size: 18px;
  color: white;
  font-weight: 400;
  text-align: left;
  line-height: 28px;
  max-width: 305px;
  margin-top: 16px;
}
@media only screen and (min-width: 1440px) {
  main section p {
    font-size: 20px;
    line-height: 34px;
  }
}
main section #price {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 22px;
}
main section #price span:nth-of-type(1) {
  font-size: 65px;
  color: white;
  font-weight: 700;
  text-align: left;
  line-height: 52px;
}
main section #price span:nth-of-type(2) {
  font-size: 20px;
  color: white;
  font-weight: 400;
  text-align: left;
  line-height: 32px;
}
main section #download {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin-top: 30px;
}
main section #download #ios {
  background-color: black;
  color: white;
  width: 296px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (min-width: 1440px) {
  main section #download #ios {
    width: 333px;
  }
}
main section #download #ios:hover {
  background-color: sky;
  color: white;
}
main section #download #ios img {
  top: 0px;
  width: 20px;
}
main section #download #android {
  background-color: white;
  color: black;
  width: 296px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (min-width: 1440px) {
  main section #download #android {
    width: 333px;
  }
}
main section #download #android:hover {
  background-color: yellow;
}
main section #download #android img {
  top: 0px;
  width: 20px;
}

footer {
  padding: 40px 10vw;
}
@media only screen and (min-width: 768px) {
  footer {
    padding: 40px 3vw;
  }
}
@media only screen and (min-width: 1440px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 165px 125px 165px;
  }
}
footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 30px;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1440px) {
  footer section {
    width: 790px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
footer section p {
  font-size: 16px;
  color: black;
  font-weight: 400;
  text-align: left;
  line-height: 26px;
  max-width: 400px;
}
@media only screen and (min-width: 1440px) {
  footer section p {
    align-self: flex-start;
  }
}
footer section span {
  font-size: 16px;
  color: black;
  font-weight: 700;
  text-align: left;
}
footer section div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}