*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

/*lets start coding*/
* {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #1a2a33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#screen1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
  width: 460px;
}
#screen1 header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
#screen1 header img {
  width: 32px;
}
#screen1 main {
  height: 205px;
  width: 100%;
  border-radius: 15px;
  background: #1f3641;
  -webkit-box-shadow: inset 0px -8px 0px #10212a;
          box-shadow: inset 0px -8px 0px #10212a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}
#screen1 main h1 {
  font-size: 16px;
  color: #a8bfc9;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
}
#screen1 main section {
  position: relative;
  height: 72px;
  width: 412px;
  border-radius: 10px;
  background-color: #1a2a33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
#screen1 main section div {
  height: 54px;
  width: 198px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#screen1 main section #slider {
  position: absolute;
  top: 9px;
  left: 8px;
  background: #a8bfc9;
  z-index: -1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#screen1 main section #slider-x svg {
  -webkit-transform: scale(-0.5);
          transform: scale(-0.5);
}
#screen1 main section #slider-x svg path {
  fill: #1a2a33;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#screen1 main section #slider-o svg {
  -webkit-transform: scale(-0.5);
          transform: scale(-0.5);
}
#screen1 main section #slider-o svg path {
  fill: #a8bfc9;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#screen1 main p {
  font-size: 14px;
  color: #a8bfc9;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  opacity: 0.5;
}
#screen1 footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}
#screen1 footer #vs-cpu {
  font-size: 16px;
  color: #1a2a33;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  height: 67px;
  width: 100%;
  border-radius: 15px;
  background: #f2b137;
  -webkit-box-shadow: inset 0px -8px 0px #cc8b13;
          box-shadow: inset 0px -8px 0px #cc8b13;
}
#screen1 footer #vs-human {
  font-size: 16px;
  color: #1a2a33;
  font-weight: 700;
  text-align: center;
  height: 67px;
  width: 100%;
  border-radius: 15px;
  background: #31c3bd;
  -webkit-box-shadow: inset 0px -8px 0px #118c87;
          box-shadow: inset 0px -8px 0px #118c87;
}

#screen3 {
  position: absolute;
  height: 228px;
  width: 100%;
  background-color: #1f3641;
  top: -500px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 3;
}
#screen3 #next {
  height: 52px;
  width: 146px;
  border-radius: 10px;
  background: #f2b137;
  -webkit-box-shadow: inset 0px -4px 0px #cc8b13;
          box-shadow: inset 0px -4px 0px #cc8b13;
  font-size: 16px;
  color: #1a2a33;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#screen3 #quit {
  height: 52px;
  width: 76px;
  border-radius: 10px;
  background: #a8bfc9;
  -webkit-box-shadow: inset 0px -4px 0px #6b8997;
          box-shadow: inset 0px -4px 0px #6b8997;
  font-size: 16px;
  color: #1a2a33;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#screen2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#screen2 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 330px;
}
#screen2 header #toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  height: 40px;
  width: 96px;
  border-radius: 5px;
  background: #1f3641;
  -webkit-box-shadow: inset 0px -4px 0px #10212a;
          box-shadow: inset 0px -4px 0px #10212a;
}
#screen2 header #toggle img {
  height: 16px;
  width: 16px;
}
#screen2 header #toggle span {
  font-size: 14px;
  color: #a8bfc9;
  font-weight: 7000;
  text-align: center;
  line-height: 18px;
}
#screen2 header section:nth-of-type(1) {
  width: 96px;
}
#screen2 header section:nth-of-type(1) img {
  height: 32px;
  width: 32px;
  border-radius: 0px;
}
#screen2 header section:nth-of-type(2) {
  width: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#screen2 header section:nth-of-type(2) #restart {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: #a8bfc9;
  -webkit-box-shadow: inset 0px -4px 0px #6b8997;
          box-shadow: inset 0px -4px 0px #6b8997;
}
#screen2 main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 390px;
}
#screen2 .outer-box {
  height: 116px;
  width: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#screen2 .inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 96px;
  width: 96px;
  border-radius: 10px;
  background-color: #1f3641;
  -webkit-box-shadow: inset 0px -8px 0px #10212a;
          box-shadow: inset 0px -8px 0px #10212a;
}
#screen2 .inner-box:hover {
  cursor: pointer;
}
#screen2 .inner-box:hover img[alt=choose] {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}
#screen2 img[alt=choose] {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#screen2 footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
#screen2 footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96px;
  height: 58px;
  border-radius: 10px;
}
#screen2 footer section .side-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
}
#screen2 footer section h1 {
  font-size: 12px;
  color: #1a2a33;
  font-weight: 500;
  text-align: center;
}
#screen2 footer section p {
  font-size: 12px;
  color: #1a2a33;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
#screen2 footer section span {
  font-size: 20px;
  color: #1a2a33;
  font-weight: 700;
  text-align: center;
}
#screen2 footer #o-side {
  background-color: #ffa825;
}
#screen2 footer #draw-side {
  background-color: #98c2c6;
}
#screen2 footer #x-side {
  background-color: #00cabe;
}